body{
    background-color: #18191A;
    color: white
}
.janela{
    width: 100%;
    display: flex;
    justify-content: center;
}
.header{
    background-color: #242526;
    position: fixed;
    inset:0;
    z-index: 1;
    height: 75px;
    width: 100vw;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid;
    border-color: #444546;
}
.hello{
    display: flex;
}
.imgPerfil img{
    width: 50px;
    border-radius:15px ;
}
.imgPerfil {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.feed{
    display: flex;
    justify-content: center;
    width: 80%;
    height: fit-content;
    left: 25%;
}

/* Postagem da duvida*/
.container{
    width: 80%;
    margin: auto;
}
.div-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
    margin-top: 85px ;
    background-color: #242526;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 25px;
    border: solid;
    border-color: #444546;
    z-index: 0;
}
.labelTema{
    display: flex;
    flex-direction: column;
}
.labelTema input{
    width: 30%;
    border-radius: 7px;
}
.labelDescricao{
    display: flex;
    flex-direction: column;
}
.text_descricao{
    border-radius: 15px;
}
/* Fim da postagem da duvia */
/* Estilização do feed */
.publicacao{
    height: 30vh;
    background-color: #242526;
    margin-bottom: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 25px;
    border: solid;
    border-color: #444546;
}
.spanImg{
    border: solid;
    border-color: #444546;
    border-radius: 50px;
}
.spanImg img{
    width: 40px;
    border-radius: 15px;
}
.div-indice{
    display: flex;
    align-items: center;
}
