body{
    background-color: #18191A;
    color: white
}
.janela{
    width: 100%;
    display: flex;
    justify-content: center;
}
.header{
    background-color: #242526;
    position: fixed;
    inset:0;
    z-index: 2;
    height: 70px;
    width: 100vw;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid;
    border-color: #444546;
}
.headerEsquerdo{
    background-color: #242526;
    position: fixed;
    z-index: 1;
    height: calc(100vh - 70px);
    width: 80px;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    border-bottom: solid;
    border-top: solid;
    border-right: solid;
    border-color: #444546;
}
.headerDireito{
    background-color: #242526;
    position: fixed;
    z-index: 1;
    height: calc(100vh - 70px);
    width: 80px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    border-bottom: solid;
    border-top: solid;
    border-left: solid;
    border-color: #444546;
}
#usuarioFoto img{
    cursor: pointer;
}
.nomeBar{
    font-size: 15px;
}
.hello{
    display: flex;
}
.imgPerfil img{
    margin-top: 15px;
    width: 50px;
    border-radius:15px ;
}
.imgPerfil {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.feed{
    margin-top: 85px ;
    display: flex;
    justify-content: center;
    width: 80%;
    height: fit-content;
    left: 25%;
}

/* Postagem da duvida*/
.container{
    width: 80%;
    margin: auto;
}
.div-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #242526;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 25px;
    border: solid;
    border-color: #444546;
    z-index: 0;
}

.labelTema{
    display: flex;
    flex-direction: column;
}
.labelTema input{
    width: 30%;
    border-radius: 7px;
}
.labelDescricao{
    display: flex;
    flex-direction: column;
}
.text_descricao{
    border-radius: 15px;
}
/* Fim da postagem da duvia */
/* Estilização do feed */
.publicacao{
    /* height: 37vh; */
    background-color: #242526;
    margin-bottom: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 25px;
    border: solid;
    border-color: #444546;
}
.spanImg{
    border: solid;
    border-color: #444546;
    border-radius: 50px;
}
.spanImg img{
    width: 40px;
    border-radius: 15px;
}
.div-indice{
    display: flex;
    align-items: center;
}
.spanImg2{
    display: flex;
    justify-content: center;
}
.spanImg2 img{
    max-width: 300px;
    margin-top: 15px
}

.div-buttons{
    display: flex;
    justify-content: space-evenly;
    border-top:solid;
    border-bottom: solid;
    border-color:#444546 ;
    border-width: 1px;
    padding: 5px 0px 5px 0px;
    margin-top: 10px;
}
.div-buttons button{
    background-color: transparent;
    color: #B1B4B7;
    border: transparent;
}
.publicacao-descricao{
    margin: 10px;
}
.publicacao-nome{
    cursor: pointer;
}
