body{
    background-color: #18191A;
    color: white
}
.headerEsquerdo{
    background-color: #242526;
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 20%;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid;
    border-top: solid;
    border-right: solid;
    border-color: #444546;
    border-radius: 0px 30px 30px 0px;
}
#usuarioFoto img{
    cursor: pointer;
}
.Perfil{
    position: relative;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color:#242526;
    border: solid;
    border-color: #444546;
    border-radius: 30px;
    left: 5%;
    width: 75%;
    height: 90vh;
}
.imgPerfil img{
    margin-top: 15px;
    width: 50px;
    border-radius:15px ;
}
.imgPerfil {
    display: flex;
    justify-content: center;
    width: 50px;
    /* height: 50px; */
    border-radius: 25px;
}
.feed{
    position: relative;
    display: flex;
    justify-content: center;
    width: 90%;
    height: fit-content;
    left: 10%;
    height: 100vh;
}

/* Estilização do feed */
.publicacao{
    /* height: 37vh; */
    background-color: #242526;
    margin-bottom: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 25px;
    border: solid;
    border-color: #444546;
}
.spanImg{
    border: solid;
    border-color: #444546;
    border-radius: 50px;
}
.spanImg img{
    width: 40px;
    border-radius: 15px;
}
.div-indice{
    display: flex;
    align-items: center;
}
.spanImg2{
    display: flex;
    justify-content: center;
}
.spanImg2 img{
    max-width: 300px;
    margin-top: 15px
}


button{
    background-color: transparent;
    color: #B1B4B7;
    border-color: #B1B4B7;
    border-radius: 5px;
}
.publicacao-descricao{
    margin: 10px;
}
.publicacao-nome{
    cursor: pointer;
}
