iframe {
    background-size: cover;
    width: 110%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

body {
    background-color: black;
    /* overflow-x:hidden; */
}

.primeiraSessao {
    z-index: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: rgb(194, 117, 78);
    text-align: center;
}

/*Começo da segunda sessão  */

.container {
    display: flex;
    width: 90%;
    margin: auto;

}

.subtituloEsquerdo {
    display: flex;
    background-color: rgb(194, 117, 78);
    font-size: 25px;
    font-weight: bold;
    width: 45%;
    height: 20px;
    margin-top: 25px;
    border-radius: 0px 15px 15px 0px;
}

.conteudoEsquerdo {
    margin-top: 15px;
    font-size: 25px;
    width: 50%;
}

.subtituloDireito {
    display: flex;
    justify-content: right;
}

.subtituloDireito p {
    background-color: rgb(194, 117, 78);
    text-align: right;
    font-size: 25px;
    font-weight: bold;
    width: 45%;
    height: 20px;
    margin-top: 25px;
    border-radius: 15px 0px 0px 15px;
}

.conteudoDireito {
    display: flex;
    /* position: absolute  ; */
    margin-top: 15px;
    margin-left: 95vh;
    flex-direction: column;
    justify-content: right;
    width: 80vh;
    text-align: justify;
    font-size: 25px;
}
/* Começo da terceira sessão */
.Titulo3 {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    height: 211px;
}

.Titulo3 img {
    width: 50%;
    height: 30vh;
}

.text3 p {
    margin-left: 15%;
    margin-top: 75px;
}

.text3 {
    width: 40%;
}

.p-t1 {
    font-size: 30px;
}

.p-t2 {
    font-size: 40px;
}

.texto-s3 {
    margin-top: 20vh;
    width: 100%;
    position: relative;
}
.texto-s3::before {
    content: "";
    position:absolute;
    inset: 0;
    background-image: url(../IMG/img_section3.png);
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    opacity: .3;
}

.texto-s3 .container {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-s3 .container p {
    width: 70%;
    line-height: 7vh;
    font-weight: bold;
}
/* Final da terceira sessão */
/* Começo da quarta sessão */
.sessao4{
    margin-top: 25px;
    /* width: 100%; */
 
}

.titulo4{
    font-size: 50px;
}
.sessao4 h1{
    font-size: 40px;
    margin-top: 15px;
}
.sessao4 p {
    margin-top:15px;
    text-align: justify;
}
.ultimoBeneficio{
    width: 100%;
    background-image: 
    linear-gradient(
        45deg,
        transparent 15%,
        black 80%
    );
    background-image:linear-gradient(
        to top,
        transparent 15%,
        black 80%
    );
    height: 50vh;
    position: relative;
}
.ultimoBeneficio::before{
    content: "";
    position:absolute;
    inset: 0;
    background-image: url(../IMG/imagemSessao4.png)
    ;
    height: 50vh;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    opacity: .3;
}