iframe{
    background-size: cover;
    width: 110%;
    height:100vh;
    position: absolute;
    z-index: -1;    
}

body{
    background-color: black;
    overflow-x:hidden;
}
.primeiraSessao{
    z-index: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: #deb887;
    text-align: center;
}
/*Começo da segunda sessão  */

.container{
    display: flex;
    width: 90%;
    margin: auto;
    /* justify-content: space-betwee; */
}
 .subtituloEsquerdo{
    display: flex;
    background-color: burlywood;
    color: black;
    font-size: 25px;
    font-weight: bold;
    width: 45%;
    height: 20px;
    margin-top: 25px;
    border-radius: 0px 15px 15px 0px;
}
.conteudoEsquerdo{
    margin-top: 15px;
    width: 50%;
}
.subtituloDireito{
    display: flex;
    justify-content: right;
}
.subtituloDireito p{
    background-color: #deb887;
    text-align: right;
    color: black;
    font-size: 25px;
    font-weight: bold;
    width: 45%;
    height: 20px;
    margin-top: 25px;
    border-radius: 15px 0px 0px 15px;   
}

.conteudoDireito{
    display: flex;
    /* position: absolute  ; */
    margin-top: 15px;
    margin-left: 95vh;
    justify-content: right;
    width: 70vh;
    text-align: justify;
}
/* Começo da terceira sessão */

.Titulo3{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    height: 211px;
}
.Titulo3 img{
    width: 50%;
    height: 30vh;
}
.text3 p{
    margin-left: 15%;
    margin-top:75px;
}
.text3{
    width: 40%;
}
.p-t1{
    font-size: 30px;
}
.p-t2{
    font-size:40px;
}
