html{
    /* background-color: black; */
    color: burlywood;
    font-family: 'Courier New', Courier, monospace;
}
.head{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
}
Header{
    background-color: transparent;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    position: fixed;
  
}
.nav-lista{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
header img {
    height: 50px;
}
body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  body::-webkit-scrollbar-track {
    background-color:black;
  }

  body::-webkit-scrollbar-thumb {
    background-color: rgb(194, 117, 78);
    
    outline: 1px solid #0C243C;
    border-radius: 20px;
  }